<header
  class="bg-bkg text-content flex items-center gap-5 flex-col sm:flex-row sm:justify-between mb-10 sticky top-0 py-5 opacity-90"
>
  <a href="/">
    <div class="flex items-center gap-5">
      <img src="/images/Logo.svg" alt="" class="w-[43px] h-[43px]" />
      <h1 class="font-bold text-3xl">TradeSquare</h1>
    </div>
  </a>

  <% if (isAuthenticated) { %>
  <a href="/logout">
    <button class="rounded btn-primary">Logout</button>
  </a>
  <% } else { %>
  <a href="/login">
    <button class="rounded btn-primary">Login</button>
  </a>
  <% } %>
</header>
