<header class="flex justify-between mb-10">
	<div class="flex items-center gap-5">
		<img src="/images/Logo.svg" alt="" class="w-[43px] h-[43px]" />
		<h1 class="font-bold text-3xl">TradeSquare</h1>
	</div>
	<img src="/images/icons/Bell.svg" alt="" srcset="" />
</header>
