<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/styles.css" rel="stylesheet" />

    <title>Item</title>
</head>
<body>
    <header class="p-10 flex justify-between">
        <div class="flex justify-normal">
            <img src="/images/icons/BackArrow.svg" alt="Backward Icon" srcset="" />
            <h3 class="text-primary">Back</h3>
        </div>
        <img src="/images/icons/Bell.svg" alt="Bell Icon" srcset="" />
    </header>

    <div class="mx-auto w-[800px] ">
        <div class=" grid gap-4 place-content-center ">
            <img class=" h-auto max-w-lg rounded-lg " src="https://source.unsplash.com/random/700x400/?home" alt="Item Img" srcset="" />
            <h4 class="mb-2 text-grey">Home/Decor</h4>
            <div class="flex justify-between">
                <h1 class="font-bold mb-2">Wall Decor for Living Room</h1>
                <img src="/images/icons/Like.svg" alt="Backward Icon" srcset="" />
            </div>

            <div class="flex gap-5 justify-start"> 
                <img class=" rounded-full w-30 h-30" src="https://source.unsplash.com/random/60x60//?girl" alt="Seller Img" srcset="" />
                <p class="text-grey font-bold text-2xl">Adarsha</p>
            </div>

            <div class="flex gap-5 justify-start">
                <img src="/images/icons/FullStar.svg" alt="Backward Icon" srcset="" />
                <p>4.7</p>
                <p>20 Reviews</p>
            </div>

            <div>
                <h2>Product Details</h2>
                <p class="text-darkgrey">2 modern minamilist paintings.</p><br>
                <p class="text-darkgrey">I don't like the style and would like to trade it for something more flashy.</p>
            </div>

            <div class=" flex gap-5 justify-between">
                <button class="bg-white text-primary border  border-primary py-2 px-4 rounded w-[200]">More about seller</button>
                <button class="bg-primary text-white border border-primary py-2 px-4 rounded-full">+</button>
                <button class="bg-primary text-white border  border-primary py-2 px-4 rounded w-[200]">Email the seller</button>            
            </div>

            <!-- <button class="bg-primary text-white border border-primary py-2 px-4 rounded-full">+</button> -->
        </div>
    </div>

</body>
</html>