<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/styles/styles.css" rel="stylesheet" />

		<title>Item</title>
	</head>
	<body>
		<header class="p-10 flex justify-between">
			<div class="flex justify-normal gap-2">
				<img src="/images/icons/BackArrow.svg" alt="Backward Icon" srcset="" />
				<h3 class="text-primary">Back</h3>
			</div>
			<img src="/images/icons/Bell.svg" alt="Bell Icon" srcset="" />
		</header>

		<div class="grid gap-4 place-content-center pb-20">
			<img
				class="h-auto max-w-lg rounded-lg w-90"
				src="/images/product/product1.jpg"
				alt="Item Img"
				srcset=""
			/>
			<h4 class="text-darkgrey">Home</h4>
			<div class="flex justify-between">
				<h1 class="font-bold mt-0 mb-2">Wall Decor for Living Room</h1>
				<img src="/images/icons/Like.svg" alt="Backward Icon" srcset="" />
			</div>

			<div class="flex gap-5 justify-start">
				<img
					class="rounded-full w-[30px] h-[30px] object-cover"
					src="/images/users/user1.png"
					alt="Seller Img"
					srcset=""
				/>
				<p class="text-darkgrey font-bold text-2xl">Adarsha</p>
			</div>

			<div class="flex gap-5 justify-start">
				<img src="/images/icons/FullStar.svg" alt="Backward Icon" srcset="" />
				<p>4.7</p>
				<p>20 Reviews</p>
			</div>

			<div class="mb-3">
				<h2 class="mb-2">Product Details</h2>
				<p class="text-darkgrey">2 modern minimalistic paintings.</p>
				<p class="text-darkgrey">
					I don't like the style and would like to trade it for something more
					flashy.
				</p>
			</div>

			<div class="flex gap-5 justify-between">
				<button class="btn-primary-outline rounded w-[200]">
					More about seller
				</button>
				<button class="btn-primary rounded-full">+</button>
				<button class="btn-primary rounded w-[200]">Email the seller</button>
			</div>

			<!-- <button class="bg-primary text-white border border-primary py-2 px-4 rounded-full">+</button> -->
		</div>
	</body>
</html>
