<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/styles.css" rel="stylesheet" />

    <title>Item</title>
</head>
<body>
    <header class="p-10 flex justify-between">
        <div class="flex justify-normal">
            <img src="/images/icons/ForwardArrow.svg" alt="Backward Icon" srcset="" />
            <h3 class="">Back</h3>
        </div>
        <img src="/images/icons/Bell.svg" alt="Bell Icon" srcset="" />

    </header>

    <div class="grid gap-4 place-content-center h-48">
        <img class="rounded-full w-50 h-50 mb-2" src="https://picsum.photos/id/237/100/100" alt="Square Img" srcset="" />
        <h3 class="font-bold mb-2">Art Collectors</h3>
        <h3 class="font-bold mb-2">Welcome to our art collectors square</h3>
        <button>Join</button>
    </div>

</body>
</html>