<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link href="/styles/styles.css" rel="stylesheet" />
	</head>
	<body>
		<div>
			<img
				src="/images/product/product1.jpg"
				class="w-[165px] h-[130px] object-cover rounded mb-[13px]"
				alt=""
			/>
			<h2 class="w-[154px] text-[17px]">Wall Decor for Living Room</h2>
			<p class="text-[16px] mt-[5px] mb-[7px]">Adarsha</p>
			<div class="flex gap-5">
				<div class="flex items-center gap-2">
					<img src="/images/icons/GreyStar.svg" class="w-[15px]" alt="" />
					<span class="text-[12px]">3.8</span>
				</div>
				<div class="flex items-center gap-2">
					<img src="/images/icons/LikeGrey.svg" class="w-[15px]" alt="" />
					<span class="text-[12px]">77 Likes</span>
				</div>
			</div>
		</div>
	</body>
</html>
