<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/styles.css" rel="stylesheet" />
    <title>Message Page</title>
  </head>
  <body>
    <div class="flex justify-start px-5">
      <%- include('../components/subNavigation.ejs') %>
    </div>

    <div class="flex flex-auto px-6">
      <img
        class="rounded-full w-[90px] h-[90px] object-cover"
        src="/images/users/user1.jpg"
        alt="user1"
      />
      <div class="pt-5 pl-5">
        <h2>Veronica</h2>
      </div>
    </div>

    <div class="flex justify-end px-8">
      <div class="flex justify-center place-items-center bg-primary rounded-full text-white px-5 h-[70px]">
        <p class="">Hi is this available?</p>
      </div>
      <div class="pl-5">
        <img
          class="rounded-full w-[80px] h-[80px] object-cover"
          src="/images/users/user4.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="flex justify-start py-8 px-8">
      <div class="pr-5">
        <img
          class="rounded-full object-cover w-[80px] h-[80px]"
          src="/images/users/user1.jpg"
          alt=""
        />
      </div>
      <div
        class="flex justify-center place-items-center h-[70px] bg-slate-400 rounded-full py-8 px-2"
      >
        <p class="py-2 pl-2">Yes, It's available</p>
      </div>
    </div>

    <div class="flex justify-start py-8 px-8">
      <div class="pr-5">
        <img
          class="rounded-full object-cover w-[80px] h-[80px]"
          src="/images/users/user1.jpg"
          alt=""
        />
      </div>
      <div
        class="flex justify-center place-items-center h-[70px] bg-slate-400 rounded-full py-8 px-2"
      >
        <p class="py-2 pl-2">What's your offer.</p>
      </div>
    </div>

    <div class="flex justify-end px-8">
      <div
        class="flex justify-center place-items-center h-[70px] bg-primary text-white rounded-full py-2 px-5"
      >
        <p class="">I have a retro computer to trade.</p>
      </div>
      <div class="pl-5">
        <img
          class="rounded-full w-[80px] h-[80px] object-cover"
          src="/images/users/user4.jpg"
          alt=""
        />
      </div>
    </div>
    
    <div class="py-8 px-8">
        <div class="flex justify-start bg-slate-200 rounded-full py-4">
          <div class="  pl-5">
            <input class=" bg-slate-200 rounded-sm"type="text" placeholder="" />
          </div>
        </div>
    </div>
  </body>
</html>
