<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/styles/styles.css" rel="stylesheet" />
		<title>Post Component</title>
	</head>
	<body>
		<div class="mx-auto w-[90%] lg:w-[70%] mt-20">
			<p>Overview</p>
		</div> 
		<div class="p-5 bg-[#D9D9D9] rounded grid mx-auto w-[500px]">
			<div class="flex items-center gap-2">
				<img
					class="w-[35px] h-[35px] rounded-full object-cover"
					src="/images/users/user2.jpg"
					alt=""
				/>
				<div>
					<p class="font-medium text-base">Gideon</p>
					<p class="font-normal text-sm">2 mins ago</p>
				</div>
			</div>
			<div>
				<img class="rounded-lg w-[900px] mx-auto" src="/images/posts/post1.jpg" alt="">
			</div>
			<div>
				<p class="font-normal text-sm mt-2">
					Can you guys suggest me some art exhibitions near me?
				</p>
				<div>
					
				</div>
				<div class="flex justify-between gap-1">
					<img class=" w-[35px] h-[35px] rounded-full" src="/images/users/user9.jpg" alt="">
					<div class="flex items-center">
						<img src="/images/icons/Comment.svg" alt="" />
						<span class="text-primary text-sm">100</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
