<div class="bg-secondary flex flex-col gap-4 rounded-lg p-5">
  <h3>Scott Chen</h3>
  <div class="flex gap-2">
    <img src="/images/icons/FullStar.svg" class="w-[20px]" alt="Full star" />
    <img src="/images/icons/FullStar.svg" class="w-[20px]" alt="Full star" />
    <img src="/images/icons/FullStar.svg" class="w-[20px]" alt="Full star" />
    <img src="/images/icons/FullStar.svg" class="w-[20px]" alt="Full star" />
  </div>
  <p class="text-sm">5 stars</p>
  <p>This is some rating...</p>
</div>
