<form
	class="flex items-center mx-auto w-[70%] md:w-[50%] p-5 bg-offwhite rounded-3xl"
	id="searchBar"
>
	<button>
		<img class="mr-5" src="/images/icons/SearchIcon.svg" alt="" />
	</button>
	<input
		class="w-full bg-offwhite focus:outline-none placeholder:text-grey text-[22px]"
		type="search"
		name="search"
		placeholder="Search"
	/>
	<!-- <span class="text-primary">Filter</span>
	<img class="ml-3" src="/images/icons/Filter.svg" alt="" /> -->
</form>
