<form
  class="flex items-center mx-auto w-[90%] md:w-[50%] p-5 bg-secondary rounded-3xl"
  id="searchBar"
>
  <button>
    <img class="mr-5" src="/images/icons/SearchIcon.svg" alt="" />
  </button>
  <input
    class="w-full focus:outline-none bg-secondary placeholder:text-grey text-[22px]"
    type="search"
    name="search"
    placeholder="Search"
  />
</form>
