<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/styles.css" rel="stylesheet" />

   
</head>
<body>
    <article class="w-[90%] mx-auto md:w-[60%] mb-10">
        <%- include('../components/header.ejs') %>
        
    <div class="h-full flex flex-col justify-between">
        <div>
            <img src="/images/users/user1.png" class="rounded-full w-[300px] h-[300px] object-cover mx-auto"
                alt="" />
            <h2 class="mb-2">
                Veronica
            </h2>
            <p class="text-darkgrey">
                Hi, I am Veronica. I am a student at the University of Toronto.
            </p>
        </div>

        <div class="flex gap-5 justify-between pt-5 pb-5">
            <button class="btn-primary rounded w-[200]">Follow</button>
            <button class="btn-primary-outline rounded w-[200]">Want/Have</button>
        </div>

        <h3>Location</h3>
        <div class="pb-5">
            <p class="text-darkgrey">Toronto, Ontario</p>
        </div>

        <h3>Analytics</h3>
        <div>
            <div class="flex">
                <p class="text-darkgrey">Total transactions:&nbsp;</p> 
                <p class="text-primary">21</p>
            </div>
    </div>

        <div class="flex items-center gap-2">
            <img src="/images/icons/FullStar.svg" class="w-[20px]" alt="" />
            <img src="/images/icons/FullStar.svg" class="w-[20px]" alt="" />
            <img src="/images/icons/FullStar.svg" class="w-[20px]" alt="" />
            <img src="/images/icons/FullStar.svg" class="w-[20px]" alt="" />
            <img src="/images/icons/HalfStar.svg" class="w-[20px]" alt="" />
        </div>
        
        <p class="text-darkgrey text-xs pb-5">
            20 Reviews 4.5 Stars
        </p>

        <h3>Listings</h3>
        <div>

            <div class="relative">
                <img src="/images/product/product1.jpg" class="mx-auto opacity-70 aspect-video rounded-lg object-cover mb-5" alt="" />
                <p class="text-sm absolute top-0 left-0 p-4 text-darkgrey text-center text-lg">Home/ Furniture</p>
                <p class="absolute  top-5 left-0 p-4 text-black  text-lg font-bold">Bean Bag Chair Giant High-Density Foam Filling Sofa </p>
            </div>
    
            <div class="relative">
                <img src="/images/product/product2.jpg" class="mx-auto opacity-70 aspect-video rounded-lg object-cover mb-5"
                    alt="" />
                <p class="text-sm absolute top-0 left-0 p-4 text-darkgrey text-center text-lg">Home/ Service</p>
                <p class="absolute  top-5 left-0 p-4 text-black  text-lg font-bold">Art Lessons</p>
            </div>

        </div>
       
        <h3>Want/ Have Items</h3>
        <div class="grid">
            <div class="flex justify-between">
                <div>
                    <img src="/images/product/product3.jpg" class="w-[200px] h-[150px] object-cover rounded mb-[13px]"
                        alt="" />
                    <p class="text-black">Foster Road Coin</p>
                    <p class="text-darkgrey text-xm">Location: Vancouver</p>
                </div>

                <div>
                    <img src="/images/product/product4.jpg" class="w-[200px] h-[150px] object-cover rounded mb-[13px]" alt="" />
                    <p class="text-black">Vintage Ice Cube</p>
                    <p class="text-darkgrey text-xm">Location: Vancouver</p>
                </div>

                
            </div>

            <div>
                <img src="/images/product/product4.jpg" class="w-[200px] h-[150px] object-cover rounded mb-[13px]" alt="" />
                <p class="text-black">Vintage Ice Cube</p>
                <p class="text-darkgrey text-xm">Location: Vancouver</p>
            </div>

        </div>


    </div>
</body>