<header class="p-10 flex justify-between">
	<a href="/items/all">
		<div class="flex items-center gap-5">
			<img src="/images/icons/Arrow.svg" alt="Back arrow" class="w-[34px]" />
			<p class="text-md text-blue-500">Back</p>
		</div>
	</a>

	<img src="/images/icons/Bell.svg" alt="Bell notification" class="w-[34px]" />
</header>
