<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/styles.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <header class="p-10 flex justify-between">
      <div class="flex item-center gap-4">
        <img src="/images/icons/Arrow.svg" alt="Back arrow" class="w-[34px]"/>
        <p class="text-[32px] text-blue-500">Back</p>
      </div>
       <img src="/images/icons/Bell.svg" alt="Bell notification" class="w-[34px]"/>
    </header>
  </body>
</html>
