<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Credentials</title>
  </head>
  <body>
    <h1>Enter your first and last name</h1>
    <form
      action="https://tradesquare.us.auth0.com/continue?state=<%= state %>"
      method="POST"
    >
      <label for="firstName">First Name:</label>
      <input type="text" name="f_name" id="firstName" />
      <label for="lastName">Last Name:</label>
      <input type="text" name="l_name" id="lastName" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
