<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/styles.css" rel="stylesheet" />
    <title>Enter User Credentials</title>
    <link rel="icon" type="image/x-icon" href="/images/icons/favicon.svg" />
  </head>
  <body class="h-full bg-bkg text-content">
    <div class="w-full h-full flex md:justify-center items-center">
      <form
        class="flex flex-col p-10 bg-white dark:bg-[#272727] rounded-lg md:shadow-lg w-full md:w-[500px]"
        action="https://tradesquare.us.auth0.com/continue?state=<%= state %>"
        method="POST"
      >
        <h1 class="mb-10 text-center">Tell us a bit more about yourself</h1>
        <div class="mb-4">
          <label class="block mb-3 text-lg" for="firstName">First Name</label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline placeholder:text-content dark:bg-[#272727]"
            type="text"
            name="f_name"
            id="firstName"
          />
        </div>
        <div class="mb-6">
          <label class="block mb-3 text-lg" for="lastName">Last Name</label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline placeholder:text-content dark:bg-[#272727]"
            type="text"
            name="l_name"
            id="lastName"
          />
        </div>
        <div class="flex justify-center">
          <button type="submit" class="btn-primary rounded w-full md:w-[300px]">
            Submit
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
