<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Edit Listing</title>
	<link href="/styles/styles.css" rel="stylesheet" />
	<link rel="icon" type="image/x-icon" href="/images/icons/favicon.svg">
</head>

<body class="bg-bkg text-content">
	<article class="mx-auto w-[90%] md:w-[50%] my-20">
		
			<div class="inline-block">
				<h1 class="border border-b-grey border-x-0 border-t-0 text-[42px] mb-3">
					Edit Listing
				</h1>
			</div>

			<form class="flex flex-col" action="/items/edit/<%= item.id %>" method="POST">

				<label class="text-[23px] font-bold" for="listingTitle">
					Title of your Listing
				</label>
				<input class="p-3 border-2 border-darkgrey rounded-md placeholder:text-content bg-secondary" type="text"
					name="name" id="listingTitle" placeholder="..." value="<%=item.name%>" />

				<label class="mt-10 text-[23px] font-bold" for="listingDescription">
					Description
				</label>
				<textarea class="border-2 p-2 border-darkgrey rounded-md placeholder:text-content bg-secondary"
					name="description" id="listingDescription" rows="6" cols="15"
					placeholder="..."><%=item.description %></textarea>


				<div class="flex justify-center mt-10">
					<button class="bg-success w-[235px] h-[50px] rounded-xl text-white py-2.5 px-5 mt-2 mr-2 block">
						Edit
					</button>
					<button class="bg-danger w-[235px] h-[50px] rounded-xl text-white py-2.5 px-5 mt-2 mr-2 block"
						formaction="/items/my-item/<%=item.id%>" formmethod="get">
						Cancel
					</button>
				</div>
			</form>
	</article>
	</article>
</body>

</html>