<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/styles.css" rel="stylesheet" />

    <title>About Like Feature</title>
  </head>

  <body class="bg-bkg">
    <article class="w-[90%] mx-auto md:w-[60%] mb-10">
      <div class="flex gap-5 justify-start mt-20">
        <img
          src="/images/random/sanrio2.jpg"
          alt="item 1"
          srcset=""
          class="w-[200px] h-[200px] object-cover justify-start rounded-md"
        />

        <p
          class="mt-[25px] font-bold text-grey text-xl place-self-center dark:text-white"
        >
          Ready to barter? Show your interest with a like!
        </p>
        <div class="grid place-items-center">
          <div class="flex gap-5 justify-start mt-5 mr-[50px]">
            <div class="flex">
              <svg
                width="72"
                height="53"
                viewBox="0 0 24 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20.8142 2.60816C20.3082 2.10189 19.7073 1.70028 19.046 1.42627C18.3848 1.15226 17.676 1.01123 16.9601 1.01123C16.2443 1.01123 15.5355 1.15226 14.8742 1.42627C14.213 1.70028 13.6121 2.10189 13.1061 2.60816L12.0559 3.65837L11.0057 2.60816C9.98352 1.586 8.59718 1.01176 7.15163 1.01176C5.70608 1.01176 4.31973 1.586 3.29757 2.60816C2.27541 3.63032 1.70117 5.01666 1.70117 6.46221C1.70117 7.90776 2.27541 9.29411 3.29757 10.3163L4.34778 11.3665L12.0559 19.0746L19.764 11.3665L20.8142 10.3163C21.3205 9.81023 21.7221 9.20941 21.9961 8.54811C22.2701 7.88682 22.4111 7.17803 22.4111 6.46221C22.4111 5.7464 22.2701 5.03761 21.9961 4.37631C21.7221 3.71502 21.3205 3.1142 20.8142 2.60816Z"
                  fill="#506DF6"
                  stroke="#506DF6"
                  stroke-width="1.98152"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <svg
                width="72"
                height="53"
                viewBox="0 0 24 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20.8142 2.60816C20.3082 2.10189 19.7073 1.70028 19.046 1.42627C18.3848 1.15226 17.676 1.01123 16.9601 1.01123C16.2443 1.01123 15.5355 1.15226 14.8742 1.42627C14.213 1.70028 13.6121 2.10189 13.1061 2.60816L12.0559 3.65837L11.0057 2.60816C9.98352 1.586 8.59718 1.01176 7.15163 1.01176C5.70608 1.01176 4.31973 1.586 3.29757 2.60816C2.27541 3.63032 1.70117 5.01666 1.70117 6.46221C1.70117 7.90776 2.27541 9.29411 3.29757 10.3163L4.34778 11.3665L12.0559 19.0746L19.764 11.3665L20.8142 10.3163C21.3205 9.81023 21.7221 9.20941 21.9961 8.54811C22.2701 7.88682 22.4111 7.17803 22.4111 6.46221C22.4111 5.7464 22.2701 5.03761 21.9961 4.37631C21.7221 3.71502 21.3205 3.1142 20.8142 2.60816Z"
                  fill="#506DF6"
                  stroke="#506DF6"
                  stroke-width="1.98152"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>

          <div class="flex gap-5 justify-start mr-[50px]">
            <div class="flex">
              <svg
                width="72"
                height="53"
                viewBox="0 0 24 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20.8142 2.60816C20.3082 2.10189 19.7073 1.70028 19.046 1.42627C18.3848 1.15226 17.676 1.01123 16.9601 1.01123C16.2443 1.01123 15.5355 1.15226 14.8742 1.42627C14.213 1.70028 13.6121 2.10189 13.1061 2.60816L12.0559 3.65837L11.0057 2.60816C9.98352 1.586 8.59718 1.01176 7.15163 1.01176C5.70608 1.01176 4.31973 1.586 3.29757 2.60816C2.27541 3.63032 1.70117 5.01666 1.70117 6.46221C1.70117 7.90776 2.27541 9.29411 3.29757 10.3163L4.34778 11.3665L12.0559 19.0746L19.764 11.3665L20.8142 10.3163C21.3205 9.81023 21.7221 9.20941 21.9961 8.54811C22.2701 7.88682 22.4111 7.17803 22.4111 6.46221C22.4111 5.7464 22.2701 5.03761 21.9961 4.37631C21.7221 3.71502 21.3205 3.1142 20.8142 2.60816Z"
                  fill="#506DF6"
                  stroke="#506DF6"
                  stroke-width="1.98152"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <svg
                width="72"
                height="53"
                viewBox="0 0 24 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20.8142 2.60816C20.3082 2.10189 19.7073 1.70028 19.046 1.42627C18.3848 1.15226 17.676 1.01123 16.9601 1.01123C16.2443 1.01123 15.5355 1.15226 14.8742 1.42627C14.213 1.70028 13.6121 2.10189 13.1061 2.60816L12.0559 3.65837L11.0057 2.60816C9.98352 1.586 8.59718 1.01176 7.15163 1.01176C5.70608 1.01176 4.31973 1.586 3.29757 2.60816C2.27541 3.63032 1.70117 5.01666 1.70117 6.46221C1.70117 7.90776 2.27541 9.29411 3.29757 10.3163L4.34778 11.3665L12.0559 19.0746L19.764 11.3665L20.8142 10.3163C21.3205 9.81023 21.7221 9.20941 21.9961 8.54811C22.2701 7.88682 22.4111 7.17803 22.4111 6.46221C22.4111 5.7464 22.2701 5.03761 21.9961 4.37631C21.7221 3.71502 21.3205 3.1142 20.8142 2.60816Z"
                  fill="#506DF6"
                  stroke="#506DF6"
                  stroke-width="1.98152"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="flex gap-5 justify-start mt-20 ml-[100px]">
        <p class="font-bold text-primary text-3xl place-self-center">
          Register your account and explore more features in TradeSquare!
        </p>
        <img
          src="/images/random/sanrio3.jpg"
          alt="item 3"
          srcset=""
          class="w-[200px] h-[200px] object-cover justify-start rounded-md"
        />
      </div>

      <a href="/login">
        <div
          class="mx-auto bg-primary w-1/2 rounded-lg mt-20 flex justify-center items-center"
        >
          <button class="text-offwhite m-2 flex justify-center">
            Register here
          </button>
        </div>
      </a>
    </article>
  </body>
</html>
