<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/styles/styles.css" rel="stylesheet" />

		<title>All Items</title>
	</head>
	<body>
		<div class="mt-5"><%- include('../components/searchBar.ejs') %></div>
		<div class="flex flex-col items-center mt-10" id="itemsContainer">
			<div class="grid grid-cols-2 md:grid-cols-4 gap-5 justify-center">
				<h1 class="col-span-2 md:col-span-4">All Items</h1>
				<% items.forEach(item => { %>
				<a href="/items/view/<%= item.id %>">
					<%- include('../components/itemCard.ejs', {item}) %>
				</a>
				<% }) %>
			</div>
		</div>
		<%- include('../components/navigationBar') %>
		<script src="/src/search.js" type="module"></script>
	</body>
</html>
