<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/styles.css" rel="stylesheet" />

    <title>User's Mailbox</title>
</head>

<body>
    <article class="w-[90%] mx-auto md:w-[60%] mb-10">
        <div class="pt-5"><%- include('../components/subNavigation.ejs') %></div>

        <h1 class="font-bold mt-0 mb-2">Messages</h1>

        <div class="grid">
            <div class="relative bg-slate-200 w-full h-[110px] rounded-lg mb-5">
                <img src="https://loremflickr.com/320/240/dog" alt="Empty Mailbox" class="w-[90px] h-[90px] rounded-lg mt-[10px] ml-[10px]">
                <p class="text-2xl font-bold absolute top-0 left-[100px] p-4 text-darkgrey text-center">Nike Sneakers</p>
                <p class="text-xl font-bold absolute top-[35px] left-[100px] p-4 text-primary text-center">Veronica</p>

                <div class="absolute top-[35px] right-[50px] rounded-full bg-primary w-[50px] h-[50px] object-cover flex justify-center items-center">
                    <p class="text-offwhite font-bold">1</p>
                </div>

                <div class="absolute top-[30px] right-[2px]  p-4 ">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.41235 17.089C7.18715 16.8561 7.16668 16.4915 7.35093 16.2346L7.41235 16.161L12.8839 10.5L7.41235 4.83904C7.18715 4.60606 7.16668 4.24148 7.35093 3.98456L7.41235 3.91096C7.63755 3.67798 7.98996 3.6568 8.23828 3.84742L8.30943 3.91096L14.2298 10.036C14.455 10.2689 14.4755 10.6335 14.2913 10.8904L14.2298 10.964L8.30943 17.089C8.06171 17.3453 7.66007 17.3453 7.41235 17.089Z"
                            fill="#506DF6" />
                    </svg>
                </div>
            </div>

            <div class="relative bg-slate-200 w-full h-[110px] rounded-lg mb-5">
                <img src="https://loremflickr.com/320/240/cat" alt="Empty Mailbox"
                    class="w-[90px] h-[90px] rounded-lg mt-[10px] ml-[10px]">
                <p class="text-2xl font-bold absolute top-0 left-[100px] p-4 text-darkgrey text-center">Wall Decor</p>
                <p class="text-xl font-bold absolute top-[35px] left-[100px] p-4 text-primary text-center">Adarsha</p>
            
                <div
                    class="absolute top-[35px] right-[50px] rounded-full bg-primary w-[50px] h-[50px] object-cover flex justify-center items-center">
                    <p class="text-offwhite font-bold">5</p>
                </div>
            
                <div class="absolute top-[30px] right-[2px]  p-4 ">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.41235 17.089C7.18715 16.8561 7.16668 16.4915 7.35093 16.2346L7.41235 16.161L12.8839 10.5L7.41235 4.83904C7.18715 4.60606 7.16668 4.24148 7.35093 3.98456L7.41235 3.91096C7.63755 3.67798 7.98996 3.6568 8.23828 3.84742L8.30943 3.91096L14.2298 10.036C14.455 10.2689 14.4755 10.6335 14.2913 10.8904L14.2298 10.964L8.30943 17.089C8.06171 17.3453 7.66007 17.3453 7.41235 17.089Z"
                            fill="#506DF6" />
                    </svg>
                </div>
            </div>

            <div class="relative bg-slate-200 w-full h-[110px] rounded-lg mb-5">
                <img src="https://loremflickr.com/320/240/snake" alt="Empty Mailbox"
                    class="w-[90px] h-[90px] rounded-lg mt-[10px] ml-[10px]">
                <p class="text-2xl font-bold absolute top-0 left-[100px] p-4 text-darkgrey text-center">Food</p>
                <p class="text-xl font-bold absolute top-[35px] left-[100px] p-4 text-primary text-center">Gina Donaher</p>
            
                <!-- <div
                    class="absolute top-[35px] right-[50px] rounded-full bg-primary w-[50px] h-[50px] object-cover flex justify-center items-center">
                    <p class="text-offwhite font-bold">5</p>
                </div> -->
            
                <div class="absolute top-[30px] right-[2px]  p-4 ">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.41235 17.089C7.18715 16.8561 7.16668 16.4915 7.35093 16.2346L7.41235 16.161L12.8839 10.5L7.41235 4.83904C7.18715 4.60606 7.16668 4.24148 7.35093 3.98456L7.41235 3.91096C7.63755 3.67798 7.98996 3.6568 8.23828 3.84742L8.30943 3.91096L14.2298 10.036C14.455 10.2689 14.4755 10.6335 14.2913 10.8904L14.2298 10.964L8.30943 17.089C8.06171 17.3453 7.66007 17.3453 7.41235 17.089Z"
                            fill="#506DF6" />
                    </svg>
                </div>
            </div>

            <div class="relative bg-slate-200 w-full h-[110px] rounded-lg mb-5">
                <img src="https://loremflickr.com/320/240/owl" alt="Empty Mailbox"
                    class="w-[90px] h-[90px] rounded-lg mt-[10px] ml-[10px]">
                <p class="text-2xl font-bold absolute top-0 left-[100px] p-4 text-darkgrey text-center">Hello Kitty</p>
                <p class="text-xl font-bold absolute top-[35px] left-[100px] p-4 text-primary text-center">Xiao</p>
            
                <div
                    class="absolute top-[35px] right-[50px] rounded-full bg-primary w-[50px] h-[50px] object-cover flex justify-center items-center">
                    <p class="text-offwhite font-bold">9+</p>
                </div>
            
                <div class="absolute top-[30px] right-[2px]  p-4 ">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.41235 17.089C7.18715 16.8561 7.16668 16.4915 7.35093 16.2346L7.41235 16.161L12.8839 10.5L7.41235 4.83904C7.18715 4.60606 7.16668 4.24148 7.35093 3.98456L7.41235 3.91096C7.63755 3.67798 7.98996 3.6568 8.23828 3.84742L8.30943 3.91096L14.2298 10.036C14.455 10.2689 14.4755 10.6335 14.2913 10.8904L14.2298 10.964L8.30943 17.089C8.06171 17.3453 7.66007 17.3453 7.41235 17.089Z"
                            fill="#506DF6" />
                    </svg>
                </div>
            </div>


        </div>
    </article>
    <%- include('../components/navigationBar.ejs', {user}) %>

</body>

</html>