<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/images/icons/favicon.svg" />
    <title>My Squares</title>
  </head>

  <body class="bg-bkg text-content">
    <article class="w-[90%] mx-auto md:w-[60%] mb-10">
      <div class="pt-5"><%- include('../components/subNavigation.ejs') %></div>

      <h1 class="font-bold mt-0 mb-2">My Squares</h1>
      <% if (userSquares.length) { %>
      <div class="flex justify-center items-center flex-col gap-4">
        <% userSquares.forEach(({square}) => { %>
        <a
          href="/squares/<%= square.id %>"
          class="p-5 bg-primary hover:bg-primary-dark transition-colors rounded-lg w-full md:w-[500px] text-center md:text-left"
        >
          <h1 class="text-white px-4"><%= square.name %></h1>
        </a>

        <% }) %>
      </div>

      <% } else {%>
      <p class="text-darkgrey text-center mt-20 text-2xl">
        You have no squares yet.
      </p>
      <% } %>
    </article>
    <%- include('../components/navigationBar', { user }) %>
  </body>
</html>
