<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/styles.css" rel="stylesheet" />
    <title>Pre-Feature Profile</title>
  </head>
  <body class="bg-bkg">
    <!-- This will be the profile page of the user 
    -->

    <div
      class="flex flex-col sm:flex-row sm:justify-center items-center gap-10 py-10"
    >
      <div>
        <img
          class="rounded-full object-cover w-28 h-28"
          src="/images/users/user7.jpg"
          alt=""
        />
      </div>

      <div class="grid grid-cols-2 gap-x-5 place-items-center text-content">
        <h3>1324</h3>

        <div class="flex justify-center gap-1">
          <img src="/images/icons/FullStar.svg" alt="Full Star" />
          <img src="/images/icons/FullStar.svg" alt="Full Star" />
          <img src="/images/icons/FullStar.svg" alt="Full Star" />
          <img src="/images/icons/FullStar.svg" alt="Full Star" />
          <img src="/images/icons/FullStar.svg" alt="Full Star" />
        </div>
        <h3>Transcations</h3>
        <h3>Ratings</h3>
      </div>
    </div>

    <!--This will be the picture of the user that is displayed -->
    <div class="flex justify-center">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 place-items-center py-10 gap-5"
      >
        <img
          class="rounded-lg w-[200px] h-[200px] object-cover"
          src="/images/memes/meme2.jpg"
          alt="game cartridge"
        />
        <img
          class="rounded-lg w-[200px] h-[200px] object-cover"
          src="/images/memes/meme3.jpg"
          alt="paint"
        />

        <img
          class="rounded-lg w-[200px] h-[200px] object-cover"
          src="/images/memes/meme4.jpg"
          alt="cat toy"
        />
      </div>
    </div>

    <!---->

    <div class="text-center">
      <h1 class="text-primary text-5xl my-5">
        Want Something Gone? Just Trade!
      </h1>
      <h3 class="text-content mb-5">
        Trade with other people in the world with our Bartering app
      </h3>
    </div>
    <div class="flex justify-center pt-5">
      <div class="btn-primary rounded-full w-[200px]">
        <p class="text-white">Get the Bartering app</p>
      </div>
    </div>

    <div class="flex justify-center items-center py-3">
      <a href="/login" class="text-primary hover:text-primary-dark px-2">
        Log in
      </a>
      <span class="text-content">or</span>
      <a href="/login" class="text-primary hover:text-primary-dark px-2">
        Sign up
      </a>
    </div>
  </body>
</html>
