<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/styles.css" rel="stylesheet" />
    <title>Pre-Feature Profile</title>
  </head>
  <body>

    <!-- This will be the profile page of the user 
    -->

    <div class="flex justify-center items-center py-9">
      <img
        class="rounded-full object-contain w-52"
        src="/images/users/user3.jpg"
        alt=""
      />

      <div class="px-2">
        <h3 class="px-8">1324</h3>
        <h3 class="px-3">Followers</h3>
      </div>

      <div class="">
        <div class="flex justify-center pt-3">
          <img src="/images/icons/FullStar.svg" alt="Full Star" />
          <img src="/images/icons/FullStar.svg" alt="Full Star" />
          <img src="/images/icons/FullStar.svg" alt="Full Star" />
          <img src="/images/icons/FullStar.svg" alt="Full Star" />
          <img src="/images/icons/FullStar.svg" alt="Full Star" />
        </div>
        <div class="flex justify-center">
          <h3>Ratings</h3>
        </div>
      </div>
    </div>

    <!--This will be the picture of the user that is displayed -->

    <div class="flex justify-evenly py-10">
      <img
        class="rounded-lg h-[300px]"
        src="/images/memes/meme2.jpg"
        alt="game cartridge"
      />
      <img
        class="rounded-md h-[300px]"
        src="/images/memes/meme3.jpg"
        alt="paint"
      />

      <img
        class="rounded-md h-[300px]"
        src="/images/memes/meme4.jpg"
        alt="cat toy"
      />
    </div>

    <!---->

    <div class="flex flex-col items-center">
      <h1><span class="text-primary text-7xl">Want Something Gone Just Trade</span></h1>
      <h3 class="text-darkgrey">
        Trade with other people in the world with our Bartering app
      </h3>
    </div>
    <div class="flex justify-center pt-5">
      <div class="flex flex-col items-center bg-primary rounded-xl w-[200px]">
        <p class="text-white">Get the Bartering app</p>
      </div>
    </div>

    <div class="flex justify-center items-center py-3">
      <a href="http://" class="text-primary px-2">log in</a> or
      <a href="http://" class="text-primary px-2">sign up</a>
    </div>
  </body>
</html>
