<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/icons/favicon.svg" />
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.7.2.2.min.js"></script>
    <title>Remove Channels</title>
  </head>
  <body>
    <h1>Channel metadata removed</h1>
    <script>
      let userId = "<%= user.auth0Id %>";
      let pubnub = new PubNub({
        publishKey: "pub-c-aef98a66-a53a-4fa4-8670-5caef781e7ac",
        subscribeKey: "sub-c-e24d3586-3673-498b-990d-4a19d2d466cd",
        userId,
      });

      pubnub.objects
        .getAllChannelMetadata()
        .then((response) => {
          const channels = response.data;
          const channelNames = channels.map((channel) => channel.id);
          console.log("CHANNEL NAMES", channelNames);

          channelNames.forEach((channelName) => {
            pubnub.deleteMessages(
              {
                channel: channelName,
              },
              function (status, response) {
                console.log(status, response);
              }
            );

            pubnub.objects.removeChannelMetadata({
              channel: channelName,
            });
          });
        })
        .catch((error) => {
          console.log("Error retrieving channel metadata:", error);
        });
    </script>
  </body>
</html>
