<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<link href="/styles/styles.css" rel="stylesheet" />
	</head>
	<body>
		<div class="mx-auto w-[90%] lg:w-[70%]">
			<%- include('../components/subNavigation.ejs') %>
			<h3 class="text-[23px]">Squares</h3>
			<p class="ml-4 my-4">
				This is a community space for people who are interested in bartering to
				connect and share their stories. We invite you to join our community and
				engage with others who share your interests.
			</p>
			<div class="flex flex-col">
				<% squares.forEach(square => { %> <%-
				include('../components/square.ejs', {square}) %> <% }) %>
				<a
					href="/users/my-squares"
					class="btn-primary text-center rounded-lg w-full md:self-center md:w-[300px]"
				>
					<button>My Squares</button>
				</a>
			</div>
		</div>
		<%- include('../components/navigationBar') %>

		<script>
			const openButtons = Array.from(document.querySelectorAll(".join-btn"));
			openButtons.map((button) => {
				button.addEventListener("click", () => {
					Swal.fire({
						icon: "success",
						html: "<p class='font-bold text-primary text-3xl'>Successfully added to your Community Page!<p>",
						buttonsStyling: false,
						confirmButtonText: "Check “My Squares”",
						customClass: {
							title: "text-[23px] font-bold",
							confirmButton: "btn-primary rounded-lg text-lg mb-2",
						},
					});
				});
			});
		</script>
	</body>
</html>
